/* Add these styles in addition to the existing ones */

#cardGenerator input[type="color"] {
  height: 30px;
  width: 30px;
  border: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

#cardGenerator input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#cardGenerator input[type="color"]::-webkit-color-swatch {
  border: none;
}
